@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap");

* {
  font-family: "Source Sans Pro", sans-serif;
}

body {
  background-color: cadetblue;
}

.App {
  text-align: center;
  margin-top: 15vh;
}

.App__counter-heading {
  font-size: 70px;
  color: rgb(64, 98, 99);
}

.App__button-toolbar {
  display: flex;
  justify-content: center;
}

.primary-btn {
  padding: 7px;
  border: none;
  border-radius: 3px;
  color: white;
  background-color: teal;
  margin: 5px;
  cursor: pointer;
  transition: 0.3s ease;
}

.primary-btn:hover {
  background-color: #0ab1b1;
}

.primary-btn:focus {
}
